.headerAnchor{
    color: #000000 !important;
}

.grommetux-anchor:hover, .grommetux-anchor:active, .grommetux-anchor:focus {
    color: #000000!important;
    outline: none!important;
    text-decoration: none!important;
}

a:hover, a:active, a:focus {
    color: #07AEFF!important;
    outline: none!important;
    text-decoration: none!important;
}

.blog{
    color: #000000!important;
    outline: none!important;
    text-decoration: none!important;
}

.blog .grommetux-section{
  color: #666 !important;
}

.grommetux-section .grommetux-paragraph{
  max-width: 100% !important;
}

.logo 
{
    max-width: 100%;  
}
.grommetux-box {
    display: flex;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}


.grommetux-box--pad-none {
    padding: 0px; 
}

@media screen and (min-width: 45em) {
    .home-mobile {
      display: none; } 
}
  
@media screen and (max-width: 44.9375em) {
.home-desktop {
    display: none; }
.home {
    transition: transform 1s; } 
}

@media screen and (min-width: 45em) {
    .grommetux-article__control-left {
      left: 0;
      top: 50%;
      transform: translateY(-50%); } }
  
  @media screen and (max-width: 44.9375em) {
    .grommetux-article__control-left {
      left: 0;
      bottom: 0; } }
  
  @media screen and (min-width: 45em) {
    .grommetux-article__control-right {
      top: 50%;
      transform: translateY(-50%);
      right: 0; } }
  
  @media screen and (max-width: 44.9375em) {
    .grommetux-article__control-right {
      right: 0;
      bottom: 0; } }
  
  .grommet article:not(.grommetux-article) {
    width: 100%; }
  
  
    @media screen and (min-width: 45em) 
    {
      .grommetux-box--pad-small {
        padding: 12px; }
      .grommetux-box--pad-medium {
        padding: 24px; }
      .grommetux-box--pad-large {
        padding: 48px; }
      .grommetux-box--pad-xlarge {
        padding: 192px; } 
    }
    @media screen and (max-width: 44.9375em) 
    {
      .grommetux-box--pad-small {
        padding: 6px; }
      .grommetux-box--pad-medium {
        padding: 12px; }
      .grommetux-box--pad-large {
        padding: 24px;
        }
      .grommetux-box--pad-xlarge {
        padding: 48px; } 
    }
    .grommetux-box--pad-horizontal-none 
    {
      padding-left: 0px;
      padding-right: 0px; 
    }
    @media screen and (min-width: 45em) 
    {
      .grommetux-box--pad-horizontal-small {
        padding-left: 12px;
        padding-right: 12px; }
      .grommetux-box--pad-horizontal-medium {
        padding-left: 24px;
        padding-right: 24px; }
      .grommetux-box--pad-horizontal-large {
        padding-left: 48px;
        padding-right: 48px; }
      .grommetux-box--pad-horizontal-xlarge {
        padding-left: 192px;
        padding-right: 192px; } 
    }
    @media screen and (max-width: 44.9375em) 
    {
      .grommetux-box--pad-horizontal-small {
        padding-left: 6px;
        padding-right: 6px; }
      .grommetux-box--pad-horizontal-medium {
        padding-left: 12px;
        padding-right: 12px; }
      .grommetux-box--pad-horizontal-large {
        padding-left: 24px;
        padding-right: 24px; }
      .grommetux-box--pad-horizontal-xlarge {
        padding-left: 48px;
        padding-right: 48px; } 
    }
    .grommetux-box--pad-vertical-none {
      padding-top: 0px;
      padding-bottom: 0px; 
    }
    @media screen and (min-width: 45em) 
    {
      .grommetux-box--pad-vertical-small {
        padding-top: 12px;
        padding-bottom: 12px; }
      .grommetux-box--pad-vertical-medium {
        padding-top: 24px;
        padding-bottom: 24px; }
      .grommetux-box--pad-vertical-large {
        padding-top: 48px;
        padding-bottom: 48px; }
      .grommetux-box--pad-vertical-xlarge {
        padding-top: 192px;
        padding-bottom: 192px; } 
    }
    @media screen and (max-width: 44.9375em) 
    {
      .grommetux-box--pad-vertical-small {
        padding-top: 6px;
        padding-bottom: 6px; }
      .grommetux-box--pad-vertical-medium {
        padding-top: 12px;
        padding-bottom: 12px; }
      .grommetux-box--pad-vertical-large {
        padding-top: 24px;
        padding-bottom: 24px; }
      .grommetux-box--pad-vertical-xlarge {
        padding-top: 48px;
        padding-bottom: 48px; } 
    }

    .grommetux-box--margin-none 
    {
      margin: 0px; 
    }
    .grommetux-box--margin-small 
    {
      margin: 12px; 
    }
    .grommetux-box--margin-medium 
    {
      margin: 24px; 
    }
    .grommetux-box--margin-large 
    {
      margin: 48px; 
    }
    @media screen and (max-width: 44.9375em) 
    {
        .grommetux-box--margin-small 
        {
            margin: 6px; 
        }
        .grommetux-box--margin-medium 
        {
            margin: 12px; 
        }
        .grommetux-box--margin-large 
        {
            margin: 24px; 
        } 
    }
    .grommetux-box--margin-horizontal-none 
    {
      margin-left: 0px;
      margin-right: 0px; 
    }
    .grommetux-box--margin-horizontal-small 
    {
      margin-left: 12px;
      margin-right: 12px; 
    }
    .grommetux-box--margin-horizontal-medium 
    {
      margin-left: 24px;
      margin-right: 24px; 
    }
    .grommetux-box--margin-horizontal-large 
    {
      margin-left: 48px;
      margin-right: 48px; 
    }

    @media screen and (max-width: 44.9375em) 
    {
        .grommetux-box--margin-horizontal-small 
        {
            margin-left: 6px;
            margin-right: 6px; 
        }
        .grommetux-box--margin-horizontal-medium 
        {
            margin-left: 12px;
            margin-right: 12px; 
        }
        .grommetux-box--margin-horizontal-large 
        {
            margin-left: 24px;
            margin-right: 24px; 
        } 
    }

    .grommetux-box--margin-vertical-none 
    {
      margin-top: 0px;
      margin-bottom: 0px; 
    }
    .grommetux-box--margin-vertical-small 
    {
      margin-top: 12px;
      margin-bottom: 12px; 
    }
    .grommetux-box--margin-vertical-medium 
    {
      margin-top: 24px;
      margin-bottom: 24px; 
    }
    .grommetux-box--margin-vertical-large 
    {
      margin-top: 48px;
      margin-bottom: 48px; 
    }


    @media screen and (max-width: 44.9375em) 
    {
      .grommetux-box--margin-vertical-small {
        margin-top: 6px;
        margin-bottom: 6px; }
      .grommetux-box--margin-vertical-medium {
        margin-top: 12px;
        margin-bottom: 12px; }
      .grommetux-box--margin-vertical-large {
        margin-top: 24px;
        margin-bottom: 24px; } 
    }

    .grommetux-box--margin-left-none 
    {
      margin-left: 0px; 
    }
    .grommetux-box--margin-left-small 
    {
      margin-left: 12px; 
    }
    .grommetux-box--margin-left-medium 
    {
      margin-left: 24px; 
    }
    .grommetux-box--margin-left-large 
    {
      margin-left: 48px; 
    }

    @media screen and (max-width: 44.9375em) 
    {
        .grommetux-box--margin-left-small 
        {
            margin-left: 6px; 
        }
        .grommetux-box--margin-left-medium 
        {
            margin-left: 12px; 
        }
        .grommetux-box--margin-left-large 
        {
            margin-left: 24px; 
        } 
    }

    .grommetux-box--margin-right-none 
    {
      margin-right: 0px; 
    }
    .grommetux-box--margin-right-small 
    {
      margin-right: 12px; 
    }
    .grommetux-box--margin-right-medium 
    {
      margin-right: 24px; 
    }
    .grommetux-box--margin-right-large 
    {
      margin-right: 48px; 
    }

    @media screen and (max-width: 44.9375em) 
    {
      .grommetux-box--margin-right-small {
        margin-right: 6px; }
      .grommetux-box--margin-right-medium {
        margin-right: 12px; }
      .grommetux-box--margin-right-large {
        margin-right: 24px; } 
    }

    .grommetux-box--margin-top-none 
    {
      margin-top: 0px; 
    }
    .grommetux-box--margin-top-small 
    {
      margin-top: 12px; 
    }
    .grommetux-box--margin-top-medium 
    {
      margin-top: 24px; 
    }
    .grommetux-box--margin-top-large 
    {
      margin-top: 48px; 
    }

    @media screen and (max-width: 44.9375em) 
    {
      .grommetux-box--margin-top-small 
      {
        margin-top: 6px; 
        }
      .grommetux-box--margin-top-medium 
      {
        margin-top: 12px; 
        }
      .grommetux-box--margin-top-large 
      {
        margin-top: 24px; 
        } 
    }

    .grommetux-box--margin-bottom-none 
    {
      margin-bottom: 0px; 
    }
    .grommetux-box--margin-bottom-small 
    {
      margin-bottom: 12px; 
    }
    .grommetux-box--margin-bottom-medium 
    {
      margin-bottom: 24px; 
    }
    .grommetux-box--margin-bottom-large 
    {
      margin-bottom: 48px; 
    }


@media screen and (max-width: 44.9375em) 
{
    .grommetux-box--margin-bottom-small 
    {
        margin-bottom: 6px; 
    }
    .grommetux-box--margin-bottom-medium 
    {
        margin-bottom: 12px; 
    }
    .grommetux-box--margin-bottom-large 
    {
        margin-bottom: 24px; 
    } 
}

.grommetux-box--full {
    position: relative;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    overflow: auto; }
    @media screen and (max-width: 44.9375em) {
      .grommetux-box--full.grommetux-box--full-responsive {
        min-height: 100vh;
        height: 100%; } }
  
  .grommetux-box--full-horizontal {
    max-width: 100%;
    width: 100vw; }
  
  .grommetux-box--full-vertical {
    height: 100vh;
    max-height: 100%;
    overflow: auto; }
    @media screen and (max-width: 44.9375em) {
      .grommetux-box--full-vertical.grommetux-box--full-responsive {
        min-height: 100vh;
        height: 100%; } }
  
  .grommetux-box--size {
    max-width: 100%;
    max-height: 100%; }
    .grommetux-box--size .grommet-namespaceparagraph {
      width: 100%;
      max-width: 100%;
      flex: 0 0 auto; 
}


.grommet {
    box-sizing: border-box;
    t-size: 1em;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.grommet * {
    box-sizing: inherit; 
}

/* .grommetux-paragraph{
    color: white;
} */