.headerAnchor{
    color: #000000 !important;
}
.grommetux-anchor:hover, .grommetux-anchor:active, .grommetux-anchor:focus {
    color: #000000!important;
    outline: none!important;
    text-decoration: none!important;
}
a:hover, a:active, a:focus {
    color: #07AEFF!important;
    outline: none!important;
    text-decoration: none!important;
}

/* #00DEFF */



/* .grommetux-paragraph{
    color: white;
} */